<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>サプーアプリ</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
	</head>
	<body>
		<h1>サプー書店</h1>
		{% if error_message %}
			<p>{{ error_message }}</p>
		{% endif %}
		<form method="post" action="{{ url_for('register') }}">
			<table border="1">
				<tr>
					<th>入荷日</th>
					<th>作家</th>
					<th>タイトル</th>
					<th>金額</th>
					<th>在庫</th>
				</tr>
					<tr>
						<td><input type="date" name="arrival_day"></td>
						<td><input type="text" name="author"></td>
						<td><input type="text" name="title"></td>
						<td><input type="number" name="price"></td>
						<td><input type="number" name="stock"></td>
					</tr>
			</table>
			<br>
			<input type="submit" value="登録">
		</form>
	</body>
</html>