<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>サプーアプリ</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
	</head>
<body>
    <h1>{{ book.title }}</h1>
    <ul>
      <li>価格: ¥{{ book.price }}</li>
      <li>入荷日: {{ book.arrival_day }}</li>
      <li>作家: {{ book.author }}</li>
      <li>在庫: {{ book.stock }}</li>
    </ul>
    {% if book.stock != 0 %}
      <a href="{{ url_for('order', id=book.id) }}">
        <button>注文する</button>
      </a>
    {% endif %}
    <a href="{{ url_for('edit', id=book.id) }}">編集する</a>
    <form method="POST" action="{{ url_for('delete', id=book.id) }}">
      <button type="submit">削除する</button>
    </form>
    <a href="{{ url_for('index') }}">戻る</a>
</body>
</html>